@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

h1 {
    color: #009900;/* this is a css comment! */
    /* font-family: fantasy; */
    font-family: 'Indie Flower', cursive;
}

#wordmark {
    /* DIGIT 400 LOGO WORDMARK */
    font-family: 'Indie Flower', cursive;
}

.loop { /*class selector!*/
    color: #ff8912;
}

#basic {
    color: #ff6896;
}