{% extends "header.html" %}

{% block body %}

<!-- Nav Tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">Articles</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="about-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="about" aria-selected="false">Media</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Forums</a>
  </li>
</ul><!-- END Nav Tabs -->

<!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Login here!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <br/>
              <h4>Login</h4>
        <br>
        <form action="#" method="post">
            <input type="text" class="form-control" placeholder="User Name" name="username" value="{{request.form.username}}">
            &nbsp;
            <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}">
            <br>
            <input type="submit" class="btn btn-default" value="Login">
        </form>
        <br>
        <code>{{error}}</code>
        <hr>
        <h5>Register a new account!</h5>
        <p>Click here to be redirected to our <a href="/register/">registration page</a>!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div><!-- End Model -->

<!-- Tab Content -->
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="card-deck">
      {% for i in APP_CONTENT["Home"] %}
      
      <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static',filename='images/mainlogo.png')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i[0]}}</h5>
            <p class="card-text">{{i[2]}}</p>
            <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
          </div>
        </div>
      
      {% endfor %}
      
    </div>
  <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
    <div class="card-deck">
      {% for i in APP_CONTENT["About"] %}
      
      <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static',filename='images/mainlogo.png')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i[0]}}</h5>
            <p class="card-text">{{i[2]}}</p>
            <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
          </div>
        </div>
      
      {% endfor %}
      
    </div>
    <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
      <div class="card-deck">
      {% for i in APP_CONTENT["Messages"] %}
      
      <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static',filename='images/mainlogo.png')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i[0]}}</h5>
            <p class="card-text">{{i[2]}}</p>
            <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
          </div>
        </div>    
        
      {% endfor %}
        
    </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="card-deck">
      {% for i in APP_CONTENT["Contact"] %}
      
      <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static',filename='images/mainlogo.png')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i[0]}}</h5>
            <p class="card-text">{{i[2]}}</p>
            <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
          </div>
        </div>
      
      {% endfor %}
      
    </div>
</div><!-- END Tab Content -->

{% endblock %}