<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{  url_for('static', 
    filename='images/mainlogo2.png') }}">
      
    <title>Animal Network</title>
      
    <script>
      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      });
      </script>  
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136607632-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136607632-1');
</script>
      
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

          <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">      

  </head>
  <body>
    
    <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">
    <img src="{{ url_for('static',filename='images/mainlogo.png')}}" width="50" alt="main logo for digit 400 site">
  </a>
  <a id="wordmark" class="navbar-brand" href="/">Animal Network</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://digitarts.site/">Home</a>
      </li>
          
      <!--<li class="nav-item">
        <a class="nav-link" href="/dashboard/">Dashboard</a>
      </li> -->
        
     <li class="nav-item">
        <a class="nav-link" href="/welcome/">About</a>
      </li>
        
    <li class="nav-item">
        <a class="nav-link" href="/kennels/">Kennels</a>
      </li>
        
    <li class="nav-item">
        <a class="nav-link" href="/animal_hospitals/">Animal Hospitals</a>
      </li>
        
    <li class="nav-item">
        <a class="nav-link" href="/pet_training/">Pet Training</a>
      </li>
        
    <li class="nav-item">
        <a class="nav-link" href="/pet_grooming/">Pet Grooming</a>
      </li>
         
      <!--<li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter">Login</a>
      </li> -->
    </ul>
  </div>
</nav><!-- END Nav Bar -->
      
<video autoplay muted loop style="width: 100%">
        <source src="/static/videos/main_logo.mp4" type="video/mp4">
    </video>  
      
<div class="container">
  <!-- Content here -->
    <h1 class="text-center">Welcome!</h1>
    
    <p>Welcome to Animal Network! This site is a one-stop shop for all your animal caretaking needs in Erie, Pennsylvania.  Want to learn more about us or get in touch?  Check out our <a href="/welcome/">About</a> page!  Need a place for your pet to stay?  Take a look at our <a href="/kennels/">Kennels</a> page!  Is your pet in need of medical attention? Pay a visit to our <a href="/animal_hospitals/">Animal Hospitals</a> page!  Need to get your pet trained or groomed?  No need to worry, we have what you're looking for on our <a href="/pet_training/">Pet Training</a> and <a href="/pet_grooming/">Pet Grooming</a> pages!  Below, you'll find a social media feed featuring all of the orgainizations featured on the site so that you'll be up to date on all the latest news!</p>  
</div>
      
<br>

      
<h1 class="text-center">Social Media Feed</h1>
      
<div class='embedsocial-hashtag' data-ref="e0210df70b9aafa9a42a06ca1ff03b6de83c5e9e" ></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));</script>
      
      
      
<!--<img src="{{url_for('static', filename='images/Animal Network3.png') }}" width="1900px"> -->
      
      
      <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Login here!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <br/>
              <h4>Login</h4>
        <br>
        <form action="#" method="post">
            <input type="text" class="form-control" placeholder="User Name" name="username" value="{{request.form.username}}">
            &nbsp;
            <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}">
            <br>
            <input type="submit" class="btn btn-default" value="Login">
        </form>
        <br>
        <code>{{error}}</code>
        <hr>
        <h5>Register a new account!</h5>
        <p>Click here to be redirected to our <a href="/register/">registration page</a>!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div><!-- End Model -->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
    
  
    <footer>
  <p>© Animal Network</p>
</footer>


</html>