{% extends "header.html" %}

{% block body %}

<!--<p>{{output}}</p>-->

<div class="container">

    <h1>About</h1>
    <p>The name of my website is Animal Network.  My vision for the site is a place where people could interact and discuss all things concerning or relating to animals.  The Home page features a news feed for the site as well as a “Pic of the Day” and links to social media.  The articles page provides a variety of different material to read.  These articles are about anything animal related. Users can share any articles of their own that they come across as well as write their own as long as they are a registered user on the site.  The media page includes a library of pictures and videos that registered users of the site can help contribute to creating. The contact page includes an email, phone number for the Animal Network.  The forums page is a place for everyone to login and discuss different questions relating to animals.</p>
    
    
</div>


{% endblock %}